@* @{
     Layout = null; _Layout tasarımını kullanmak istemediğimiz sayfalarda bu ifadeyi yazmamız yeterlidir.
} *@

@model Product

        <h3>@Model.ProductName</h3>
        <p>@Model.Price.ToString("c")</p>

        <div class="btn-group">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house"></i> Home</a>
            <a class="btn btn-success" asp-controller="Product" asp-action="Index">
                <i class="fa-solid fa-list"></i> Products</a>

        </div>
        


@section Header{
    <div>
        Header for Only Get
    </div>
}