<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h5>Store App : Header</h5>
        @RenderSection("Header",false) @* false yerine required:false da yazılabilir. *@
    </header>              
    <main>
        @RenderBody()
    </main>
    <footer>
        @RenderSection("Footer",false)
        <b>Footer</b>
    </footer>
    @await RenderSectionAsync("Scripts",false)
</body>
</html>