@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-info my-3"></i>
        <p>
            Godexi bilgi ve destek hattı: 541 348 39 76
        </p>
        <i class="fa-solid fa-address-book text-info my-3"></i>
        <p>
            Bahçelievler Mah. Devlet Bahçeli Bulv. No:17 Bahçe/OSMANİYE
        </p>
        <i class="fa-solid fa-envelope text-info my-3"></i>
        <p>
            godexibilisim@gmail.com
        </p>
    </div>
</div>